/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy|Sulphur+Point|Tajawal&display=swap");

/* Body */

body {
    background: #461af5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5b4e26, #7f7d8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7e620d, #9d97b3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: ;
    margin-top: 2px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px -18px #000000;
    box-shadow: 0px 0px 39px -18px #000000;
    font-family: "Sulphur Point", sans-serif;
}

.jumbotron h1 {
    font-family: "Times", cursive;
}

.lead {
    text-align: center;
    margin-top: 5px;
}

section {
    display: flex;
    justify-content: space-between;
}

nav,
aside {
    border-radius: 50px;
    margin-bottom: 220px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Tajawal", sans-serif;
    border-bottom: 2px solid #fff;
    text-align: center;
}

.form-group {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

label {
    font-size: 22px;
    font-weight: bold;
}

#burger_name {
    border: none;
    padding: 5px;
}

ul {
    list-style: none;
    color: #000000;
    font-size: 23px;
    padding: 0;
    margin: 0;
    float: inline-start;
    font-family: "Sulphur Point", sans-serif;
}

.devour-burger{
    background: url(../img/hamburglar.png);
    background-repeat: no-repeat;
    width: 68px;
    height: 60px;
    background-size: 68px 60px !important;
    /* padding: 0px; */
}


.delete {
    background: url(../img/cartoon-toilet.png);
    background-repeat: no-repeat;
    width: 53px;
    height: 60px;
    background-size: 68px 60px !important;
    /* padding: 0px; */
}

.button-flex {
    float: right;
}